%table{ :class => 'section_content data_table' }
  %tr
    %th Date Occured
    %th Incident Name
    %th Location
    %th Supervisor
    %th
    %th
  - @employee.disciplines.each do |discipline|
    %tr
      %td= discipline.occured_on
      %td= discipline.name
      %td= discipline.store.name
      %td= discipline.supervisor.full_name
      %td= link_to 'Edit', edit_employee_discipline_path(@employee, discipline)
      %td= link_to 'Delete', employee_discipline_path(@employee, discipline), :confirm => 'Are you sure?', :method => :delete
%br/
