= content_for(:content_nav_heading) do
  = "Edit Discipline"
= content_for(:content_nav) do
  = render :partial => 'shared/employee_navigation'

.section_heading
  = "Edit Discipline for #{@employee.full_name}"
= render :partial => "form"

