= render :partial => 'shared/form_errors', :locals => { :@model => @employee }
= form_for @employee, :html => { :class => 'bp' } do |f|
  = f.fields_for :user do |user_form|
    %p{ :class => 'field short required email' }
      = user_form.text_field :email
      = user_form.label :email, 'UserID (email)'
      *
    %p{ :class => 'field short required' }
      = user_form.password_field :password
      = user_form.label :password, 'Password (minimum 6 characters)'
      *
    %p{ :class => 'field short checkbox' }
      = user_form.check_box :admin
      = user_form.label :admin, 'Admin User?'
    = user_form.fields_for :person do |person_form|
      %p{ :class => 'field short required' }
        = person_form.text_field :first_name
        = person_form.label :first_name
        *
      %p{ :class => 'field short required' }
        = person_form.text_field :last_name
        = person_form.label :last_name
        *
      %p{ :class => 'field short required' }
        = person_form.text_field :address1
        = person_form.label :address1, 'Address'
        *
      %p{ :class => 'field short' }
        = person_form.text_field :address2
        = person_form.label :address2, 'Address Line 2'
      %p{ :class => 'field short required' }
        = person_form.text_field :city
        = person_form.label :city
        *
      %p{ :class => 'field short required' }
        = person_form.select :state, Carmen::US_STATES
        = person_form.label :state
        *
      %p{ :class => 'field short required' }
        = person_form.text_field :zipcode
        = person_form.label :zipcode
        *
      %p{ :class => 'field short required' }
        = person_form.text_field :home_phone
        = person_form.label :home_phone, 'Primary Phone'
        *
      %p{ :class => 'field short' }
        = person_form.text_field :mobile_phone
        = person_form.label :mobile_phone, 'Secondary Phone'
      = person_form.hidden_field :hired_at, :value => "#{@employee.person.hired_at rescue DateTime.now}"
    %p{ :class => 'field short required' }
      = f.label :emergency_contact_name, 'Emergency Contact'
      = f.text_field :emergency_contact_name
    %p{ :class => 'field short required' }
      = f.label :emergency_contact_phone, 'Emergency Contact Phone'
      = f.text_field :emergency_contact_phone
    %p{ :class => 'field short required' }
      = f.label :needs_special_hours
      = f.check_box :needs_special_hours
    %p{ :class => 'field short required' }
      = f.label :needs_special_hours_detail
      = f.text_area :needs_special_hours_detail
    %p{ :class => 'field short required' }
      = f.label :available_at
      = f.datetime_select :available_at
    %p{ :class => 'field short required' }
      = f.label :has_reliable_vehicle
      = f.check_box :has_reliable_vehicle
    %p{ :class => 'field short required' }
      = f.label :can_travel_long_term
      = f.check_box :can_travel_long_term
    %p{ :class => 'field short required' }
      = f.label :been_convicted
      = f.check_box :been_convicted
    %p{ :class => 'field short required' }
      = f.label :been_convicted_detail
      = f.text_area :been_convicted_detail
    %p{ :class => 'field short required' }
      = f.label :ever_failed_drug_test
      = f.check_box :ever_failed_drug_test
    %p{ :class => 'field short required' }
      = f.label :legal_us_worker
      = f.check_box :legal_us_worker
    %p{ :class => 'field short required' }
      = f.label :applied_before
      = f.text_field :applied_before
    %p{ :class => 'field short required' }
      = f.label :applied_before_detail
      = f.text_area :applied_before_detail
    %p{ :class => 'field short required' }
      = f.label :drivers_license_valid
      = f.check_box :drivers_license_valid
    %p{ :class => 'field short required' }
      = f.label :drivers_license_state
      = f.text_field :drivers_license_state
    %p{ :class => 'field short required' }
      = f.label :drivers_license_number
      = f.text_field :drivers_license_number
    %p{ :class => 'field short required' }
      = f.label :drivers_license_expiration
      = f.datetime_select :drivers_license_expiration
    %p{ :class => 'field short required' }
      = f.label :drivers_license_ever_suspended
      = f.check_box :drivers_license_ever_suspended
    %p{ :class => 'field short required' }
      = f.label :drivers_license_ever_suspended_detail
      = f.text_area :drivers_license_ever_suspended_detail
    %p{ :class => 'field short required' }
      = f.label :agree_to_terms
      = f.check_box :agree_to_terms
    %p{ :class => 'field short required' }
      = f.label :agree_to_terms_date
      = f.datetime_select :agree_to_terms_date
  %p{ :class => 'field button' }
    = content_tag :button, 'Save', :type => :submit
