.section_heading
  Employees
  .section_heading_menu
    = link_to 'New Employee', new_employee_path
%table{ :class => 'section_content data_table' }
  %tr
    %th Name
    %th Location
    %th
    %th
    %th

  - @employees.each do |employee|
    %tr
      %td= employee.person.full_name
      %td= employee.person.location
      %td= link_to 'Show', employee
      %td= link_to 'Edit', edit_employee_path(employee)
      %td= link_to 'Destroy', employee, :confirm => 'Are you sure?', :method => :delete

%br

