%p#notice= notice

%p
  %b Person:
  = @employee.person_id
%p
  %b Needs special hours:
  = @employee.needs_special_hours
%p
  %b Needs special hours detail:
  = @employee.needs_special_hours_detail
%p
  %b Available at:
  = @employee.available_at
%p
  %b Has reliable vehicle:
  = @employee.has_reliable_vehicle
%p
  %b Can travel long term:
  = @employee.can_travel_long_term
%p
  %b Been convicted:
  = @employee.been_convicted
%p
  %b Been convicted detail:
  = @employee.been_convicted_detail
%p
  %b Ever failed drug test:
  = @employee.ever_failed_drug_test
%p
  %b Legal us worker:
  = @employee.legal_us_worker
%p
  %b Applied before:
  = @employee.applied_before
%p
  %b Applied before detail:
  = @employee.applied_before_detail
%p
  %b Drivers license valid:
  = @employee.drivers_license_valid
%p
  %b Drivers license state:
  = @employee.drivers_license_state
%p
  %b Drivers license number:
  = @employee.drivers_license_number
%p
  %b Drivers license expiration:
  = @employee.drivers_license_expiration
%p
  %b Drivers license ever suspended:
  = @employee.drivers_license_ever_suspended
%p
  %b Drivers license ever suspended detail:
  = @employee.drivers_license_ever_suspended_detail
%p
  %b Agree to terms:
  = @employee.agree_to_terms
%p
  %b Agree to terms date:
  = @employee.agree_to_terms_date

= link_to 'Edit', edit_employee_path(@employee)
\|
= link_to 'Back', employees_path
