= content_for(:content_nav_heading) do
  = "New Vacation"
= content_for(:content_nav) do
  = render :partial => 'shared/employee_navigation'

.section_heading
  = "New Vacation for #{@employee.full_name}"
= render :partial => "form"

