%p
  = "There is a new completed application ready to be reviewed. You can view it "
  = link_to 'here', applicants_url(:search => { :id_equals => @user.id })
  = "."

%h3= Applicant Summary
%h4= @user.full_name
%p= @user.display_phones
%p= @user.display_skills

