= semantic_form_for @person do |f|
  - f.inputs do
    = f.input :last_name, :label => 'Last name'
    = f.input :first_name, :label => 'First name'
    = f.input :middle_name, :label => 'Middle name'
    = f.input :address1, :label => 'Address1'
    = f.input :address2, :label => 'Address2'
    = f.input :city, :label => 'City'
    = f.input :state, :label => 'State'
    = f.input :zipcode, :label => 'Zipcode'
    = f.input :ssn, :label => 'Ssn'
    = f.input :date_of_birth, :as => :date, :label => 'Date of Birth'
    = f.input :home_phone, :label => 'Home phone'
    = f.input :mobile_phone, :label => 'Mobile phone'
    = f.input :other_phone, :label => 'Other phone'
    = f.input :hired_at, :label => 'Hire Date'
    = f.buttons
