%h1 People
%table
  %tr
    %th User
    %th Last name
    %th First name
    %th City
    %th State
    %th
    %th
    %th
  - @people.each do |person|
    %tr
      %td= person.user.email rescue 'No User Found'
      %td= person.last_name
      %td= person.first_name
      %td= person.city
      %td= person.state
      %td= link_to 'Show', person
      %td= link_to 'Edit', edit_person_path(person)
      %td= link_to 'Delete', person, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Person', new_person_path
