<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @person.user.email rescue 'No User Found' %>
</p>

<p>
  <b>Last name:</b>
  <%= @person.last_name %>
</p>

<p>
  <b>First name:</b>
  <%= @person.first_name %>
</p>

<p>
  <b>Middle name:</b>
  <%= @person.middle_name %>
</p>

<p>
  <b>Address1:</b>
  <%= @person.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @person.address2 %>
</p>

<p>
  <b>City:</b>
  <%= @person.city %>
</p>

<p>
  <b>State:</b>
  <%= @person.state %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @person.zipcode %>
</p>

<p>
  <b>Social Security Number:</b>
  <%= @person.ssn %>
</p>

<p>
  <b>Date of Birth:</b>
  <%= @person.dob %>
</p>

<p>
  <b>Home Phone:</b>
  <%= @person.home_phone %>
</p>

<p>
  <b>Mobile Phone:</b>
  <%= @person.mobile_phone %>
</p>

<p>
  <b>Other Phone:</b>
  <%= @person.other_phone %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
