= render :partial => 'shared/form_errors', :locals => { :@model => @incident }
- url = @incident.new_record? ? employee_incidents_path : employee_incident_path(@employee, @incident)
= form_for(@incident, :url => url, :html => { :class => 'bp'}) do |f|
  %p{ :class => 'field shorty required' }
    = f.text_field :occured_on, :class => 'recent'
    = f.label :occured_on, 'Date'
  %p{ :class => 'field required' }
    = f.collection_select :supervisor_id, User.managers, :id, :full_name, :include_blank => true
    = f.label :supervisor_id, 'Supervisor'
  %p{ :class => 'field short required' }
    = f.collection_select :store_id, Store.all, :id, :display_name, :include_blank => true
    = f.label :store_id, 'Store'
  %p{ :class => 'field large_text_area required' }
    = f.label :description
    %br/
    = f.text_area :description
  %p{ :class => 'field large_text_area required' }
    = f.label :witnesses
    %br/
    = f.text_area :witnesses
  %p{ :class => 'field large_text_area required' }
    = f.label :people_involved, 'People Involved'
    %br/
    = f.text_area :people_involved
  %p{ :class => 'field button' }
    = content_tag :button, 'Save', :type => :submit, :id => :save

= content_for(:footer) do
  = javascript_include_tag 'datepicker'
