= render :partial => 'shared/form_errors', :locals => { :@model => @store }
= form_for(@store, :html => { :class => 'bp'}) do |f|
  %p{ :class => 'field short required' }
    = f.collection_select( :client_id, Client.all, :id, :name, |
      { :prompt => true } )
    = f.label :client_id
  %p{ :class => 'field short required' }
    = f.collection_select( :region_id, Region.all, :id, :name, |
      { :prompt => true } )
    = f.label :region_id
  %p{ :class => 'field short required' }
    = f.collection_select( :manager_id, User.store_managers, :id, :full_name, |
      { :prompt => true } )
    = f.label :manager_id
  %p{ :class => 'field short required' }
    = f.check_box :active, :checked => true
    = f.label :active
  %p{ :class => 'field short required' }
    = f.text_field :name
    = f.label :name
  %p{ :class => 'field short required' }
    = f.text_field :number
    = f.label :number
  %p{ :class => 'field short required' }
    = f.text_field :address1
    = f.label :address1
  %p{ :class => 'field short required' }
    = f.text_field :address2
    = f.label :address2
  %p{ :class => 'field short required' }
    = f.text_field :city
    = f.label :city
  %p{ :class => 'field short required' }
    = f.select :state, Carmen::US_STATES
    = f.label :state
  %p{ :class => 'field short required' }
    = f.text_field :zipcode
    = f.label :zipcode
  %p{ :class => 'field button' }
    = content_tag :button, 'Save', :type => :submit, :id => :save
