.section_heading
  Stores
  .section_heading_menu
    = link_to 'New Store', new_store_path
%table{ :class => 'section_content data_table' }
  %tr
    %th Client
    %th Region
    %th Manager
    %th Active
    %th Name
    %th Number
    %th Address1
    %th Address2
    %th City
    %th State
    %th Zipcode
    %th
    %th
    %th
  - @stores.each do |store|
    %tr
      %td= store.client.name
      %td= store.region.name
      %td= store.manager.full_name rescue 'No Manager Found'
      %td= store.active
      %td= store.name
      %td= store.number
      %td= store.address1
      %td= store.address2
      %td= store.city
      %td= store.state
      %td= store.zipcode
      %td= link_to 'Show', store
      %td= link_to 'Edit', edit_store_path(store)
      %td= link_to 'Delete', store, :confirm => 'Are you sure?', :method => :delete
%br/
