%table{ :class => 'data_table' }
  %tr
    %th Company Name
    %th Job Title
    %th Supervisor Name
    %th Start Date
    %th End Date
    %th
  - @applicant.person.employee.employers.each do |employer|
    %tr
      %td= employer.company_name
      %td= employer.job_title
      %td= employer.supervisor_name
      %td= employer.start_date
      %td= employer.end_date
%br/
