= content_for :head do
  = javascript_include_tag 'datepicker'
= semantic_form_for @person, :url => applicants_path  do |f|
  - if @person.errors.any? || @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@person.errors.count + @user.errors.count, "error")
        prohibited this employment application from being saved:
      %ul
        - ( @person.errors.full_messages + @user.errors.full_messages ).each do |msg|
          %li= msg
  = f.inputs do
    = f.input :first_name, :required => true
    = f.input :middle_name
    = f.input :last_name, :required => true
    = f.input :address1, :required => true
    = f.input :address2
    = f.input :city, :required => true
    = f.input :state, :as => :select, :collection => Carmen::US_STATES, |
      :required => true
    = f.input :zipcode, :required => true
    = f.input :date_of_birth, :as => :string, :label => 'Date of birth', |
      :input_html => { :class => 'date_of_birth' }, :required => true
    = f.inputs :email, :email_confirmation, :for => :user, :required => true
    = f.input :home_phone, :required => true
    = f.inputs :mobile_phone, :other_phone
  = f.buttons do
    = f.commit_button :label => 'Next'

