= semantic_form_for @employer, :url => create_applicant_employers_path(@person)  do |f|
  - if @employer.errors.any?
    #error_explanation
      %h2
        = pluralize(@employer.errors.count, "error")
        prohibited this employment application from being saved:
      %ul
        - @employer.errors.full_messages.each do |msg|
          %li= msg
  = f.inputs do
    = f.input :company_name, :label => 'Company name'
    = f.input :start_date, :as => :date, :label => 'Start date'
    = f.input :end_date, :as => :date, :label => 'End date'
    = f.input :phone_number, :label => 'Phone number'
    = f.input :job_title, :label => 'Job Title/Description'
    = f.input :supervisor_name, :label => 'Supervisor Name'
    = f.input :start_salary, :label => 'Start $'
    = f.input :end_salary, :label => 'End $'
    = f.input :reason_for_leaving, :label => 'Reason for leaving'
  = f.buttons do
    = f.commit_button :label => 'Next'

