= semantic_form_for @person, :url => new_applicants_criteria_path  do |f|
  - if @person.errors.any? || @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@person.errors.count + @user.errors.count, "error")
        prohibited this employment application from being saved:
      %ul
        - ( @person.errors.full_messages + @user.errors.full_messages ).each do |msg|
          %li= msg
  = f.inputs :name => 'Address Information' do
    = f.inputs :last_name, :first_name, :middle_name, :address1, :address2, :city
    = f.input :state, :as => :select, :collection => Carmen::US_STATES
    = f.input :zipcode
    = f.input :dob, :label => 'Date of birth'
    = f.inputs :email, :email_confirmation, :for => :user
  = f.inputs :home_phone, :mobile_phone, :other_phone, |
    :name => 'Phone Information'
  = f.buttons do
    = f.commit_button :label => 'Next'

