= semantic_form_for @reference, :url => create_applicant_references_path(@person)  do |f|
  - if @reference.errors.any?
    #error_explanation
      %h2
        = pluralize(@reference.errors.count, "error")
        prohibited this employment application from being saved:
      %ul
        - @reference.errors.full_messages.each do |msg|
          %li= msg
  = f.inputs do
    = f.input :name, :label => 'Full Name'
    = f.input :contact_info, :label => 'Phone number/Email'
    = f.input :relationship, :label => 'Relationship'
    = f.input :type_of_reference, :as => :select, |
      :collection => [ 'Professional', 'Personal' ], |
      :label => 'Type of Reference' 
  = f.buttons do
    = f.commit_button :label => 'Next'

