= semantic_form_for @uniform_order, :url => applicant_uniform_order_create_path(@person)  do |f|
  - if @uniform_order.errors.any?
    #error_explanation
      %h2
        = pluralize(@uniform_order.errors.count, "error")
        prohibited this employment application from being saved:
      %ul
        - @uniform_order.errors.full_messages.each do |msg|
          %li= msg
  = f.inputs do
    = f.input :shirt_count, :as => :select, :collection => (1..10), |
      :label => 'How many Shirts?'
    = f.input :shirt_size, :as => :select, :collection => %w{ S M L XL XXL }, |
      :label => 'Shirt Size'
    = f.input :hat_count, :as => :select, :collection => (1..5), |
      :label => 'How many Hats?'
    = f.input :hat_size, :as => :select, :collection => (5..9), |
      :label => 'Hat Size'
  = f.buttons do
    = f.commit_button :label => 'Next'

