= semantic_form_for @uniform_order, :url => create_applicant_uniform_orders_path(@person)  do |f|
  - if @uniform_order.errors.any?
    #error_explanation
      %h2
        = pluralize(@uniform_order.errors.count, "error")
        prohibited this employment application from being saved:
      %ul
        - @uniform_order.errors.full_messages.each do |msg|
          %li= msg
  = f.inputs do
    = f.input :shirt_count, :label => 'How many Shirts?'
    = f.input :shirt_size, :label => 'Shirt Size'
    = f.input :hat_count, :label => 'How many Hats?'
    = f.input :hat_count, :label => 'Hat Size'
  = f.buttons do
    = f.commit_button :label => 'Next'

