= content_for(:content_nav_heading) do
  Application Status
= content_for(:content_nav) do
  = render :partial => 'progress_bar'
  = render :partial => 'applicant_errors'
.section_heading
  = @step_status[:heading]
  .section_heading_menu
    /= link_to 'Back', users_path
.sub_content
  = render :partial => "form_step_#{@applicant.person.form_step}"
