%table{ :class => 'section_content data_table' }
  %tr
    %th UserID (email)
    %th Name
    %th
    %th
    %th
    %th
  - @users.each do |user|
    %tr
      %td= user.email
      %td= user.full_name
      %td= link_to 'Show', admin_path(user)
      %td= link_to 'Print', admin_print_path(user, :format => :pdf)
      %td= link_to 'Edit', edit_admin_path(user)
      %td= link_to 'Delete', admin_path(user), :confirm => 'Are you sure?', :method => :delete
%br/
