= content_for :footer do
  = javascript_include_tag 'datepicker'
- path = @user.new_record? ? users_path(:scope => @scope) : user_path(@user, :scope => @scope)
= form_for :user, :url => path, :html => { :class => 'bp' } do |f|
  %p{ :class => 'field short required' }
    = f.text_field :first_name
    = f.label :first_name
    *
  %p{ :class => 'field short' }
    = f.text_field :middle_name
    = f.label :middle_name
  %p{ :class => 'field short required' }
    = f.text_field :last_name
    = f.label :last_name
    *
  %p{ :class => 'field short required' }
    = f.text_field :address1
    = f.label :address1
    *
  %p{ :class => 'field short' }
    = f.text_field :address2
    = f.label :address2
  %p{ :class => 'field short required' }
    = f.text_field :city
    = f.label :city
    *
  %p{ :class => 'field short required' }
    = f.select :state, Carmen::US_STATES
    = f.label :state
    *
  %p{ :class => 'field short required' }
    = f.text_field :zipcode
    = f.label :zipcode
    *
  %p{ :class => 'field short required' }
    = f.text_field :date_of_birth, :class => 'date_of_birth'
    = f.label :date_of_birth, 'Date of birth'
    *
  %p{ :class => 'field short' }
    = f.text_field :email
    = f.label :email
  %p{ :class => 'field short' }
    = f.text_field :email_confirmation
    = f.label :email_confirmation
  %p{ :class => 'field short required' }
    = f.text_field :home_phone
    = f.label :home_phone, 'Main phone'
    *
  %p{ :class => 'field short' }
    = f.text_field :mobile_phone
    = f.label :mobile_phone
  %p{ :class => 'field short' }
    = f.text_field :other_phone
    = f.label :other_phone
  = f.hidden_field :form_step, :value => @user.form_step
  %p{ :class => 'field button' }
    = content_tag :button, 'Next', :type => :submit
