= content_for(:footer) do
  = javascript_include_tag 'datepicker'

= content_for(:content_nav) do
  - @references_left_to_add = 3 - @user.references.count
  - unless @references_left_to_add <= 0
    %p.notice You need to add at least #{pluralize(@references_left_to_add, 'more Reference')}

= render :partial => 'references_table'

= form_for @user, :url => user_path(@user, :scope => @scope), :html => { :class => 'bp', :method => :put } do |f|
  = f.fields_for :references, @user.references.build do |reference_form|
    %p{ :class => 'field short required' }
      = reference_form.text_field :name
      = reference_form.label :name
      *
    %p{ :class => 'field short required' }
      = reference_form.text_field :contact_info
      = reference_form.label :contact_info, 'Phone number/Email'
      *
    %p{ :class => 'field short required' }
      = reference_form.text_field :relationship
      = reference_form.label :relationship
      *
    %p{ :class => 'field short required' }
      = reference_form.select :type_of_reference, Reference::REFERENCE_TYPES
      = reference_form.label :type_of_reference, 'Type of Reference'
      *
  = f.hidden_field :form_step, :value => @user.form_step
  = hidden_field_tag :save, 1
  %p{ :class => 'field button' }
    = content_tag :button, 'Add', :type => :submit

- if @references_left_to_add <= 0
  = form_for :next, :url => user_path(@user, :scope => @scope), :html => { :class => 'bp', :method => :put } do |f|
    %p{ :class => 'field button' }
      = content_tag :button, 'Next', :type => :submit
