%table{ :class => 'section_content data_table' }
  %tr
    %th Name
    %th UserID (email)
    %th
    %th
    %th
    %th
  - @users.each do |user|
    %tr
      %td= user.email
      %td= user.full_name
      %td= link_to 'Print', user_print_path(user, :scope => @scope, :format => :pdf), :target => '_blank'
      %td= link_to 'Hire', user_hire_path(user, :scope => @scope), :confirm => "Are you sure you want to hire #{user.full_name}?"
      %td= link_to 'Edit', edit_applicant_path(user)
      %td= link_to 'Delete', applicant_path(user), :confirm => 'Are you sure?', :method => :delete
%br/
