= content_for(:content_nav_heading) do
  Application Status
= content_for(:content_nav) do
  = render :partial => 'progress_bar'
  = render :partial => 'shared/form_errors', :locals => { :@model => @user }
.section_heading
  = @step_status[:heading]
= render :partial => "applicant_form_#{@user.form_step}"
