%table{ :class => 'section_content data_table' }
  %tr
    %th UserID (email)
    %th Name
    %th
    %th
    %th
  - @users.each do |user|
    %tr
      %td= user.email
      %td= user.full_name
      %td= link_to 'Show', user_path(user, :scope => @scope)
      %td= link_to 'Edit', edit_user_path(user, :scope => @scope )
      %td= link_to 'Delete', user_path(user, :scope => @scope), :confirm => 'Are you sure?', :method => :delete
%br/
