= form_for(@user, :html => { :class => 'bp'}) do |f|
  = f.text_field :email
  = f.password_field :password
  = f.collection_select :roles, Role.all, :id, :name, {}, { :multiple => true }
  = f.fields_for :person do |person_form|
    = person_form.text_field :first_name
    = person_form.text_field :last_name
    = person_form.text_field :address1
    = person_form.text_field :address2
    = person_form.text_field :city
    = person_form.select :state, Carmen::US_STATES
    = person_form.text_field :zipcode
    = person_form.text_field :home_phone
    = person_form.text_field :mobile_phone
    = person_form.hidden_field :hired_at, :value => @user.person.hired_at || DateTime.now
  = content_tag :button, 'Save', :type => :commit
