- unless @scope == 'applicants'
  = content_for(:content_nav_heading) do
    = "Edit #{@scope_title}"
  .section_heading
    = "Editing #{@user.full_name}"
    .section_heading_menu
      = link_to 'Show', user_path(@user, :scope => @scope)
      = link_to 'Back', users_path(:scope => @scope)
.sub_content
  = render :partial => "#{@scope_name.singularize}_form"
