.section_heading
  Users
  .section_heading_menu
    = link_to 'New User', new_user_path
%table{ :class => 'section_content data_table' }
  %tr
    %th Email
    %th Person
    %th
    %th
    %th
  - @users.each do |user|
    %tr
      %td= user.email
      %td= user.person.full_name rescue 'No Person Found'
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete
%br/
