- unless @scope == 'applicants'
  = content_for(:content_nav_heading) do
    = "New #{@scope_title.singularize}"
  .section_heading
    = "New #{@scope_title.singularize}"
    .section_heading_menu
      = link_to 'Back', eval("#{@scope_name}_path")
.sub_content
  - if @scope == 'applicants' and not current_user
    = render :partial => "applicant_form"
  - elsif %w{ applicants employees }.include?(@scope) and current_user
    = render :partial => "employee_form"
  - else
    = render :partial => "form"
