- unless @scope == 'applicants'
  = content_for(:content_nav_heading) do
    = "New #{@scope_title.singularize}"
  .section_heading
    = "New #{@scope_title.singularize}"
    .section_heading_menu
      = link_to 'Back', eval("#{@scope_name}_path")
.sub_content
  = render :partial => "#{@scope_name.singularize}_form"
