= content_for(:content_nav_heading) do
  = "Show #{@scope_title.singularize}"
.section_heading
  = "Showing #{@user.full_name}"
  .section_heading_menu
    = link_to 'Edit', eval("edit_#{@scope_name.singularize}_path(@user)")
    = link_to 'Back', eval("#{@scope_name}_path")
= render :partial => "#{@scope_name.singularize}_show"
