<p id="notice"><%= notice %></p>

<p>
  <b>Person:</b>
  <%= @user.person.full_name rescue 'No Person Found' %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
