= content_for(:content_nav_heading) do
  = "Show #{@scope_title.singularize}"
.section_heading
  = "Showing #{@user.full_name}"
  .section_heading_menu
    = link_to 'Edit', eval("edit_#{@scope_name.singularize}_path(@user)")
    = link_to 'Back', eval("#{@scope_name}_path")
#user_show
  %h2= @user.full_name
  - if %w{ applicant employee }.include?(@user.role)
    %h3= @user.skills.map{ |s| s.name }.join( " | " )
  %h4= %w{ address1 address2 location }.map { |a| "#{@user.send(a.to_sym)||'None'}" }.join(" ")
  %h4= %w{ home_phone mobile_phone other_phone }.map { |a| "#{a.first.upcase}: #{@user.send(a.to_sym)||'None'}" }.join(" | ") + " | E: #{@user.email}"
  - if %w{ applicant employee }.include?(@user.role)
    %h4= 'Details'
    %p= "Date of Birth: #{humanize_date(@user.date_of_birth)}"
    %p= "Can Start On : #{humanize_date(@user.available_at)}"
    %p= "Reliable Vehicle: #{yes_or_no(@user.has_reliable_vehicle)}"
    %p= "Can Travel: #{yes_or_no(@user.can_travel_long_term)}"
    %p= "Needs Special Hours: #{yes_or_no(@user.needs_special_hours)}"
    %p= "Needs Special Hours Details: #{@user.needs_special_hours_detail}"
    %p= "Has Been Convicted: #{yes_or_no(@user.been_convicted)}"
    %p= "Has Been Convicted Details: #{@user.been_convicted_detail}"
    %p= "Applied Before: #{yes_or_no(@user.applied_before)}"
    %p= "Applied Before Details: #{@user.applied_before_detail}"
    %p= "Ever Failed Drug Test: #{yes_or_no(@user.ever_failed_drug_test)}"
    %p= "Legal US Worker: #{yes_or_no(@user.legal_us_worker)}"
    %p= "Shirt Size: #{@user.shirt_size}"
    %p= "Emergency Contact Name: #{@user.emergency_contact_name} | Emergency Contact Phone: #{@user.emergency_contact_phone}"
    %h4= 'Drivers License Information'
    %p= "Valid: #{yes_or_no(@user.drivers_license_valid)}"
    %p= "Number: #{@user.drivers_license_number} |  State: #{@user.drivers_license_state}  |  Expires #{humanize_date(@user.drivers_license_expiration)}"
    %p= "Ever Suspended: #{yes_or_no(@user.applied_before)}"
    %p= "Ever Suspended Details: #{@user.applied_before_detail}"
    %h4= 'Employment History'
    - @user.employers.each do |employer|
      %p{ :id => "employer_#{employer.id}" }
        %h5= "#{employer.company_name} | #{employer.phone_number} | #{humanize_date(employer.start_date)} to #{humanize_date(employer.end_date)}"
        %p= "Salary: #{employer.start_salary} to #{employer.end_salary}"
        %p= "Title: #{employer.job_title}"
        %p= "Supervisor: #{employer.supervisor_name}"
        %p= "Reason for leaving: #{employer.reason_for_leaving}"
    %h4= 'References'
    - @user.references.each do |reference|
      %p{ :id => "reference_#{reference.id}" }
        %h5= "#{reference.name} | #{reference.contact_info}"
        %p= "#{reference.type_of_reference} Relationship: #{reference.relationship}"

