= content_for(:content_nav_heading) do
  = "Show #{@scope_title.singularize}"
.section_heading
  = "Showing #{@user.full_name}"
  .section_heading_menu
    = link_to 'Edit', edit_user_path(@user, :scope => @scope)
    = link_to 'Back', users_path(:scope => @scope)
= render :partial => "#{@scope_name.singularize}_show"
