.section_heading
  Skills
  .section_heading_menu
    = link_to 'New Skill', new_skill_path
%table{ :class => 'section_content data_table' }
  %tr
    %th Name
    %th
    %th
    %th

  - @skills.each do |skill|
    %tr
      %td= skill.name
      %td= link_to 'Show', skill
      %td= link_to 'Edit', edit_skill_path(skill)
      %td= link_to 'Destroy', skill, :confirm => 'Are you sure?', :method => :delete

%br

