= content_for(:content_nav) do
  %ul
    %li= link_to 'Contact Info', edit_employee_path(@user)
    %li= link_to 'Evaluations', '#'
    %li= link_to 'Discipline', '#'
    %li= link_to 'Payroll', '#'
    %li= link_to "Expenses (#{@user.expenses.count})", employee_expenses_path(@user)
    %li= link_to 'Vacation', '#'
    %li= link_to 'Uniforms', '#'
    %li= link_to 'Accidents', '#'
    %li= link_to 'Incidents', '#'
