= content_for(:content_nav) do
  %ul
    %li= link_to 'Contact Info', edit_employee_path(@employee)
    %li= link_to "Evaluations (#{@employee.evaluations.count})", employee_evaluations_path(@employee) 
    %li= link_to "Discipline (#{@employee.disciplines.count})", employee_disciplines_path(@employee)
    %li= link_to 'Payroll', '#'
    %li= link_to "Expenses (#{@employee.expenses.count})", employee_expenses_path(@employee)
    %li= link_to "Vacations (#{@employee.vacations.count})", employee_vacations_path(@employee)
    %li= link_to "Uniforms (#{@employee.uniforms.count})", employee_uniforms_path(@employee)
    %li= link_to 'Accidents', '#'
    %li= link_to 'Incidents', '#'
