.section_heading
  Clients
  .section_heading_menu
    = link_to 'New Client', new_client_path
%table{ :class => 'section_content data_table' }
  %tr
    %th Name
    %th Active
    %th
    %th
    %th
  - @clients.each do |client|
    %tr
      %td= client.name
      %td= client.active
      %td= link_to 'Show', client
      %td= link_to 'Edit', edit_client_path(client)
      %td= link_to 'Delete', client, :confirm => 'Are you sure?', :method => :delete
%br/
