= content_for(:content_nav_heading) do
  = "Uniforms"
= content_for(:content_nav) do
  = render :partial => 'shared/employee_navigation'

.section_heading
  = "Uniforms for #{@employee.full_name}"
  .section_heading_menu
    = link_to "New", new_employee_uniform_path(@employee)
= render :partial => "table"

