= render :partial => 'shared/form_errors', :locals => { :@model => @shift }
= form_for(@shift, :html => { :class => 'bp'}) do |f|
  %p{ :class => 'field short required' }
    = f.collection_select( :project_id, Project.all, :id, :display_name, |
      { :prompt => true } )                                              |
    = f.label :project_id
  %p{ :class => 'field short required' }
  .field
    = f.text_field :name
    = f.label :name
  %p{ :class => 'field button' }
    = content_tag :button, 'Save', :type => :submit, :id => :save
