.section_heading
  = pluralize(@shifts.count, 'Shift')
  .section_heading_menu
    = link_to "Reset Search", shifts_path
    = link_to "Hide Search", 'JavaScript:void()', :id => 'hide_search_link'
    = link_to "Search", 'JavaScript:void()', :id => 'show_search_link'
    = link_to "New Shift", new_shift_path
= render :partial => "search_form"
= render :partial => "shifts_table"

= content_for(:footer) do
  = javascript_include_tag 'search_hider'
  - search_link_on = @searching ? "show_search_link();" : "hide_search_link();" 
  :javascript
    $().ready(function() {
      #{search_link_on}
      return true;
    });
