.section_heading
  Projects
  .section_heading_menu
    = link_to 'New Project', new_project_path
%table{ :class => 'section_content data_table' }
  %tr
    %th Store
    %th Name
    %th
    %th
    %th
  - @projects.each do |project|
    %tr
      %td= project.store.name rescue 'No store found'
      %td= project.name
      %td= link_to 'Show', project
      %td= link_to 'Edit', edit_project_path(project)
      %td= link_to 'Delete', project, :confirm => 'Are you sure?', :method => :delete
%br/
