.login_form_container
  = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'login_form' }) do |f|
    = f.label :email
    = f.text_field :email
    = f.label :password
    = f.password_field :password
    %p{ :class => 'button' }
      = content_tag :button, 'Sign In', :type => :submit, :id => :sign_in
/= render :partial => "devise/shared/links"
