.login_form_container
  = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'login_form' }) do |f|
    = f.label :email
    = f.text_field :email
    = f.label :password
    = f.password_field :password
    - if devise_mapping.rememberable?
      %span.remember_me
        = f.label :remember_me
        = f.check_box :remember_me
    %p{ :class => 'button' }
      = content_tag :button, 'Sign In', :type => :submit
/= render :partial => "devise/shared/links"
