%p#notice= notice

%p
  %b Employee:
  = @reference.employee_id
%p
  %b Name:
  = @reference.name
%p
  %b Contact info:
  = @reference.contact_info
%p
  %b Relationship:
  = @reference.relationship

= link_to 'Edit', edit_reference_path(@reference)
\|
= link_to 'Back', references_path
