= form_for @uniform_order do |f|
  -if @uniform_order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@uniform_order.errors.count, "error")} prohibited this uniform_order from being saved:"
      %ul
        - @uniform_order.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :employee_id
    = f.text_field :employee_id
  .field
    = f.label :shirt_size
    = f.text_field :shirt_size
  .field
    = f.label :shirt_count
    = f.text_field :shirt_count
  .field
    = f.label :hat_size
    = f.text_field :hat_size
  .field
    = f.label :hat_count
    = f.text_field :hat_count
  .actions
    = f.submit 'Save'
