%h1 Uniform Orders

%table
  %tr
    %th Employee
    %th Shirt size
    %th Shirt count
    %th Hat size
    %th Hat count
    %th
    %th
    %th

  - @uniform_orders.each do |uniform_order|
    %tr
      %td= uniform_order.employee_id
      %td= uniform_order.shirt_size
      %td= uniform_order.shirt_count
      %td= uniform_order.hat_size
      %td= uniform_order.hat_count
      %td= link_to 'Show', uniform_order
      %td= link_to 'Edit', edit_uniform_order_path(uniform_order)
      %td= link_to 'Destroy', uniform_order, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Uniform order', new_uniform_order_path
