%p#notice= notice

%p
  %b Employee:
  = @uniform_order.employee_id
%p
  %b Shirt size:
  = @uniform_order.shirt_size
%p
  %b Shirt count:
  = @uniform_order.shirt_count
%p
  %b Hat size:
  = @uniform_order.hat_size
%p
  %b Hat count:
  = @uniform_order.hat_count

= link_to 'Edit', edit_uniform_order_path(@uniform_order)
\|
= link_to 'Back', uniform_orders_path
